a { 
	color: #990000;
	text-decoration: none;
}

/* Middle Section Styles */
.middle-section {
  display: flex;
  width: 100%;
}

/* Left Side Styles */
.left-side {
  display: inline-block;
  /*white-space: no-wrap; */
  padding: 20px;
}

/* Right Side Styles */
.right-side {
  flex: 1;
  float: left;
}

/* Footer Styles */
.footer {
  /* Add styles for the footer */
}

body {
	margin-top: 10px;
	overflow: hidden;
}

/* Header Styles */
.header {
  background: transparent;
  /* Add any additional styles for the header */
}

.logo {
	background: url(../images/logo.png);
	height: 250px;
}

.header-title {
	padding-left: 10px;
	border-top: 1px solid #777;
	border-left: 1px solid #777;
	border-bottom: 1px solid #777;
	height: 21px;
}

.header-title-outer {
	float: left;
	width: 80%;
	margin-bottom: 2px;
	margin-right: 2px;
	padding-top: 2px;
	overflow: hidden;
}

.header-title-date {
	float: left;
	width: 24%;
	text-align: right;
}

.header-title-search {
	float: right;
	border-left: 1px solid #777;
	border-right: 1px solid #777;
	padding: 0px;
	overflow: hidden;
}

.breadcrumbs {
	float: left;
	width: 75%;
	text-align: left;
}
/* End Header Syles */