a { 
	color: #990000;
	text-decoration: none;
}

/* Middle Section Styles */
.middle-section {
  display: flex;
  width: 100%;
}

/* Left Side Styles */
.left-side {
  display: inline-block;
  /*white-space: no-wrap; */
  padding: 20px;
}

/* Right Side Styles */
.right-side {
  flex: 1;
  float: left;
  overflow-y: auto;
  max-height: 75vh;
}

/* Footer Styles */
.footer {
  /* Add styles for the footer */
}

body {
	margin-top: 10px;
	overflow: hidden;
}

/* Header Styles */
.header {
  background: transparent;
  /* Add any additional styles for the header */
}

.logo {
	background: url(../images/logo.png);
	height: 250px;
}

.header-title {
	padding-left: 10px;
	border: 1px solid #777;
	margin: 2px;
	float: left;
	padding-top: 2px;
	overflow: hidden;
	width: 99%
}

.header-breadcrumbs {
	float: left;
	width: 75%;
	text-align: left;
}

.header-title-date {
	float: left;
	width: 25%;
	text-align: right;
}

/* End Header Syles */

/* Post title */
.post-title {
	color: #990000;
	font-size: 24px;
}