<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <!-- Add your CSS stylesheets and other meta tags here -->
  <link rel="stylesheet" href="{{ "/assets/css/index.css" | relative_url }}" />
</head>
<body>
  <header>
	<div class='logo'>
	    <!-- Add your transparent images here -->
	</div>
	<div class='header-title'>
		<div class="header-breadcrumbs">
			<a href="{{ site.baseurl }}">Home</a>
			{% assign breadcrumb_paths = page.url | split: '/' %}
			{% for path in breadcrumb_paths %}
				{% if path != '' %}
					{% assign breadcrumb_link = breadcrumb_link | append: '/' | append: path %}
					{% assign breadcrumb_title = path | replace: '-', ' ' | replace: '.html', ' ' | capitalize %}
					{% if forloop.first == false %}
						<span class="breadcrumb-separator">►</span>
					{% endif %}
					<a href="{{ site.baseurl }}{{ breadcrumb_link }}">{{ breadcrumb_title }}</a>
				{% endif %}
			{% endfor %}
		</div>
		<div class='header-title-date'>{{ "now" | date: "%d %B %Y om %H:%M" }}</div>
	</div>
    <div>
      <!-- Add the current date and time here -->
    </div>
  </header>

  <div class="middle-section">
    <div class="left-side">
      <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/nieuwsbrief">Nieuwsbrief</a></li>
        <li><a href="{{ site.baseurl }}/dynamic">Agenda</a></li>
        <li><a href="{{ site.baseurl }}/wie-zijn-wij">Wie zijn wij</a></li>
      </ul>
    </div>
    <div class="right-side">
      <!-- This is where the content will be displayed dynamically -->
      {{ content }}
    </div>
  </div>

  <footer>
    <p>&copy; {{ "now" | date: "%Y" }}</p>
  </footer>

  <!-- Add your JavaScript files here -->
  <script src="{{ "/assets/js/dynamicscroll.js" | relative_url }}"></script>

</body>
</html>
